extend layout
block content
    h1 Bokxr
    h2 Upload your files on your Flickr account and enjoy 1To of free stockage
    form.dropzone(action="/file-upload")
        i.icon-cloud-upload
        p
            | Drop files to upload (or click for old style mode)